@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #030712;
  --secondary-color: #18181b;
  --text-color: var(--primary-color);
  --background-color: #fafafa;
  --duration-custom: 500ms;
}

.dark {
  --primary-color: #f9fafb;
  --secondary-color: #d4d4d4;
  --background-color: #09090b;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Inter', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.icon {
  color: var(--primary-color);
  transition: color 0.3s ease;
}

.icon:hover {
  color: var(--secondary-color);
}

.transition-colors-custom {
  transition-property: color, background-color, border-color, fill, stroke;
  transition-duration: var(--duration-custom, 300ms);
}

@layer components {
  .profile-image-container {
    @apply relative;
  }

  .profile-image-container::after {
    content: '';
    @apply absolute -inset-0.5 -z-10 rounded-full bg-zinc-100;
    animation: pulse 4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1) rotate(-6deg);
  }
  50% {
    transform: scale(1.05) rotate(-6deg);
  }
}
